<!-- templates/register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register | Mental Health DT</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <div class="auth-container">
        <h2>Create Account</h2>
        
        
        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
        
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p class="flash {{ category }}">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

        <div class="link-text">
            Already have an account? <a href="/login">Login</a>
        </div>
    </div>
</body>
</html>
